.row
  #content.col-md-12
    .container.text-center
      .row
        .col-md-10.col-md-offset-1
          %h1
            ¿Ganas de salvar al mundo sin abandonar tu computador?
          %h2
            Te invitamos a participar en el primer 
            =link_to '#HACK4GOOD', 'http://hack4good.io'
            de Santiago de Chile desde el 4 al 6 de octubre.
          %br
          = link_to 'Registro', 'https://hack4good02-santiago.eventbrite.com/', class: 'btn btn-primary btn-md', id: 'register-button'

.row
  #content-2.col-md-12
    .container.text-center
      .row
        .col-md-10.col-md-offset-1
          .row
            .col-md-6
              %h2 ¿Cuándo? 
              %h4 Desde el Viernes 4 a las 18.30hs hasta el domingo 6 de octubre.
            .col-md-6
              %h2 ¿Dónde? 
              %h4 Oficinas de Groupon Chile en Av. Vitacura 2771, piso 9.
.row
  #content-3.col-md-12
    .container.text-center
      .row
        .col-md-12
          %h3
            \#Hack4Good es una hackathon que se desarrolla simultáneamente en más de 20 ciudades en todo el mundo. Su objetivo es unir a desarrolladores, diseñadores, programadores y emprendedores en la búsqueda de soluciones para diversas problemáticas sociales.
          %h3
            Los proyectos se enfocan en mejorar aspectos como la educación y el aprendizaje, crear soluciones para emergencias o desastres, combatir la pobreza y el hambre, o lo que creas que pueda mejorar (aunque sea un poquito) el mundo.
.row
  #content-4.col-md-12
    .container.text-center
      .row
        .col-md-4
          = image_tag 'groupon-logo.png', alt: 'Proyecto apoyado por Groupon'
        .col-md-4
          = image_tag 'startupchile-logo.png', alt: 'Proyecto apoyado por Startup Chile'
        .col-md-4
          = image_tag 'corfo-logo.png', alt: 'Proyecto apoyado por Corfo'